.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
/* Style the client select dropdown */
.form-group label {
    font-weight: bold;
}

#client-select {
    width: 100%;
    padding: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the options within the dropdown */
#client-select option {
    font-size: 16px;
}

/* Add some spacing */
.form-group {
    margin-bottom: 20px !important;
}
/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px!important;
    text-align: center;
}

/* Style the table headers */
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px !important;
    border-bottom: 2px solid #ddd;
}

/* Style the table rows */
tr {
    border-bottom: 1px solid #ddd;
}

/* Style the table data cells */
td {
    padding: 8px !important;
}

/* Add hover effect to table rows */
tr:hover {
    background-color: #f5f5f5;
}

/* Style the delete button */
.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px !important;
    cursor: pointer;
}

/* Style the total row */
.total-row {
    font-weight: bold;
    background-color: #d1d1d1;
}

.finish_Invoice{
    margin: 10px !important;
    text-align: center;
}
.total-amount{
    text-align: right;
    margin: 15px !important;
}
.finish_Invoice button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px !important; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
}

/* Style the button on hover */
.finish_Invoice button:hover {
    background-color: #45a049; /* Slightly darker green */
}
