.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
.btn{
    padding: 10px !important;
}
.slideshow p{
    color: red;
    margin-left: 10px !important;
}
.cards_slide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    align-items: center;
    margin: 15px auto !important;

}
.card_slide{
    padding: 10px !important;
    border: #1c4e80 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.card_slide img{
    width: 100%;
    height: 200px
}
.card_slide a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.addpicslide{
    margin: 20px !important;
}
.addpicslide button{
    margin: 10px 30px !important;
    width: 150px;
}
@media (max-width:1366px) {

}
@media (max-width:1279px) {

}
@media (max-width:768px) {
    .cards_slide{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:480px) {

}