.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
/* Style for the container div */
.contain {
    width: 80%;
    margin: 0 auto !important; /* Center the container horizontally */
    padding: 20px !important;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the title */
.contain .title {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the form */
form {
    text-align: center;
}

/* Style for the link */
a {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-bottom: 10px !important;
}

/* Style for the text input */
input[type="text"],input[type="email"] {
    width: 100%;
    padding: 8px !important;
    margin-bottom: 10px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mainform label{
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 7px !important;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the submit button */
button[type="submit"]:hover {
    background-color: #0056b3;
}
