.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
.btnnewtask{
    margin-right: 10px !important;
    padding: 5px 10px !important;
}
.newform{
    background-color: #f0f0f0;
    width: 90%;
    margin: 10px auto !important;
    padding: 20px !important;
    border-radius: 20px;
}
.title_form{
    text-align: center;
    margin: 15px !important;
}
.tiletaske,.task_discription,.budget,.Communication,.Freelancer_Report{
    display: flex;
    flex-direction: column;
}
.tiletaske label,.newassgiment label,.task_discription label,.newdate label,.budget label,.Communication label,.Freelancer_Report label{
    font-weight: bold;
    margin-bottom: 4px!important;
}
.tiletaske input,.tiletaske select,.newassgiment select,.task_discription textarea,.newdate input,.budget textarea,.Communication input,.Freelancer_Report textarea{
    width: 100%;
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.assginment{
    display: flex;
    justify-content: space-between;
}
.newassgiment{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.dates{
    display: flex;
    justify-content: space-around;
}
.newdate{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.ctrl{
    text-align: right;
    margin: 10px !important;
}
.ctrl button{
    padding: 10px !important;
    margin: 0 5px !important;
}
.statistic{
    width: 50%;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(61, 70, 112, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 15px 12px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-shrink: 0;
    margin: 20px auto !important;
    text-align: center;
}
.statistic i{
    font-size: 63px;
}
.numbers{
    display: flex;
    justify-content: center;
}
.number_display{
    display: flex;
    flex-direction: column;
    margin: 10px 15px !important;
}
.number_display label{
    color: #7F8291;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
}
.tableview{
    margin: 15px !important;
    background-color: #FFF;
    width: 95%;
    box-shadow: 0px 4px 32px 0px rgba(61, 70, 112, 0.08);
    padding: 15px;
}
.searchbox{
    margin: 15px !important;
    padding: 10px !important;
    border: 1px solid black;
    width: 80%;
}
.searchbox input{
    border: none;
    width: 80%;
    padding: 10px !important;
}
.tableview table{
    width: 100%;
}
.tableview table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.statusfre{
    width: 200px;
    border-radius: 15px !important;
}
.tableview tbody  td{
    padding: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.tableview tbody button{
    padding: 7px !important;
    margin: 5px !important;
}