.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
.btn{
    padding: 10px !important;
}
.ourteam{
    margin: 10px 0 !important;
}
.set_team{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    align-items: center;
    margin: 15px auto !important;
}
.card_person{
    margin: 0 15px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(to left, #1c4e80, #3383d4);
    text-align: center;
}
.img_person img{
    width: 200px;
    height: 200px;
}
.img_person{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: orange 2px solid;
    margin: 0 auto !important;
}

.card_person h3{
    margin: 5px;
    color: white;
}
.card_person p{
    color: white;
    font-weight: bold;
}
.add_worker{
    margin: 10px 25px !important;
}
.add_worker h3{
    text-align: center;
}
.add_worker table{
    margin: 10px !important;
}
.add_worker label{
    font-weight: bold;
    margin: 5px !important;
}
.controladd{
    text-align: center;
    margin: 15px 0!important;
}
.slideshow p{
    color: red;
    margin-left: 10px !important;
}
.cards_slide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    align-items: center;
    margin: 15px auto !important;

}
.card_slide{
    padding: 10px !important;
    border: #1c4e80 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.card_slide img{
    width: 100%;
    height: 200px
}
.card_slide a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.addpicslide{
    margin: 20px !important;
}
.addpicslide button{
    margin: 10px 30px !important;
    width: 150px;
}
@media (max-width:1366px) {

}
@media (max-width:1279px) {

}
@media (max-width:768px) {
    .cards_slide{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:480px) {

}