.mainform{
    display: flex;
}
.contain{
    width: 100%;
    margin-left: 25px !important;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px !important;
}
.btnPosstion{
    margin: 0 15px !important;
    padding: 7px 15px !important;
}
.statistic{
    width: 50%;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(61, 70, 112, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 15px 12px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-shrink: 0;
    margin: 20px auto !important;
    text-align: center;
}
.statistic i{
    font-size: 63px;
}
.numbers{
    display: flex;
    justify-content: center;
}
.number_display{
    display: flex;
    flex-direction: column;
    margin: 10px 15px !important;
}
.number_display label{
    color: #7F8291;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
}
.tableview{
    margin: 15px !important;
    background-color: #FFF;
    width: 95%;
    box-shadow: 0px 4px 32px 0px rgba(61, 70, 112, 0.08);
    padding: 15px;
}
.searchbox{
    margin: 15px !important;
    padding: 10px !important;
    border: 1px solid black;
    width: 450px;
}
.searchbox input{
    border: none;
    width: 400px;
}
.tableview table{
    width: 100%;
}
.tableview table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.statusfre{
    width: 200px;
    border-radius: 15px !important;
}
.tableview tbody  td{
    padding: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.tableview tbody button{
    padding: 7px !important;
    margin: 5px !important;
}
.newForm{
    width: 90%;
    margin: 25px auto !important;
    background-color: #f9f9f9;
    padding: 30px 25px !important;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}
.formtitle{
    text-align: center;
    margin-bottom: 20px !important;
}
.long{
    margin: 7px 0 !important;
}
.long label,.double label,.longtextdata label{
    font-weight: bold;
    width: 150px;
}
.long input,.long select, .double input,.double select,.selectService input,.viewfreelancers input{
    width: calc(100% - 170px);
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.viewfreelancers input{
    width: 200px;
}
.colmdata{
    display: flex;
    justify-content: space-between;
}
.left,.right{
    width: 48%;
}
.double span{
    font-size: larger;
}
.longtextdata{
    display: flex;
    flex-direction: column;
}
.longtextdata textarea{
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.selectService{
    text-align: center;
}
.selectService select{
    width: 80%;
    padding: 10px !important;
    margin:  15px 0  !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.selectService table,.Developers table{
    width: 100%;
}
.selectService table th ,.Developers table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.selectService tbody  td ,.Developers tbody td{
    padding: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.Developers{
    margin: 15px !important;
}
.input_schare{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 !important;
}

.btncontroler{
    text-align: center;
    margin: 15px !important;
}
.btncontroler button{
    width: 150px;
    margin: 5px!important;
    padding: 10px!important;
}