.headerup{
    background-color: #1c4e80;
    padding: 15px 15px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.headerup a{
    margin: 0 15px !important;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.headerup button{
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: 20px;
}